---
---

@import "{{ site.theme }}";

@media screen and (min-width: 1200px) {
  .wrapper {
    width:1200px;
    margin:0 auto;
  }
  
  section {
    width:900px;
    float:right;
    padding-bottom:50px;
  }
}

.link-wrapper {
   margin-top: 2.5rem;
}

ul.link {
    list-style-type: none; 
    margin: 0; 
    padding: 0;
}

ul.link li + li {
    margin-top: 1rem;
}

ul.link:last-child {
    margin-bottom: 0.5rem;
}

.sidenav {
    width: 270px;
    float: left;
    position:fixed;
    top: 0;
    padding: 5rem 0 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 9rem);
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .sidenav-footer {
    flex-basis: content;
  }

  .sidebar, section, footer {
    float:none;
    position:static;
    width:auto;
  }

  header ul {
    position:absolute;
    right:50px;
    top:52px;
  }