---
---

@import "{{ site.theme }}";

$background-darkest:  #D9E1E2;
/* Website Header & Footer */
$logo_width: 170px;

$attention-light: #4fb3e3;
$attention: #00a3e0; //formerly $green-medium, open sky
$attention-dark: #0082b3; //formerly $green-medium-dark, open sky, tent 1
$core:  #0053b8; //pacific blue

$warning-light: #ffc460; //golden poppy, tint 2
$warning: #ffb81c; //golden poppy
$warning-dark: #cc9316; //golden poppy, shade 1

$background-darkest:  #D9E1E2;
$background-darker: #f5f7f7; //SF Fog, tint 1
$background-lightest: #fff; //pure white

$line: #ccd3d6; //sf fog, shade 1
$line-lighter: #f6f8f8; // sf fog, tint 1
$highlight: #b9d9eb; //pacific sky, formerly $green-very-light
$highlight-lighter: #c7dfee;
$highlight-lightest: #f4f8fb;

$accent: #2cd5c4; //seafoam mint, formerly $green-light
$accent-dark: #003b5c; //deep blue sea, formerly $green-dark, $green-dark-text unused
$accent-light: #7b96a9; //deep blue sea, tint 2

$text: #002a3a; //midnight sky
$text-visited: #1d3c4b; //midnight sky, tint 1
$text-hover: #4c636f; //midnight sky, tint 2
$text-light: #647782; //midnight sky, tint 3
$text-light-darker: #4c636f; //midnight sky, tint 2
$text-light-darkest: #1d3c4b; //midnight sky, tint 1

$text-link-alternate: #0053b8; //pacific blue
$text-link-alternate-lighter: #137cc1; //pacific blue tint 1
$text-link-alternate-darker: #00529e;

@mixin serif {
    font-family: "Noto Serif", 'Iowan Old Style', 'Apple Garamond', 'Baskerville', 'Times New Roman', serif;
}

@mixin sans-serif {
    font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
}

@mixin monospace {
    font-family: "Fira Mono", Consolas, Menlo, Monaco, "Courier New", Courier, monospace;
    font-variant-ligatures: no-common-ligatures;  // disables the common ligatures only
    text-rendering: optimizeSpeed;  // for Safari 7.x
}

@mixin heading-sans-serif {
    font-family: "Open Sans Condensed", Impact, "Franklin Gothic Bold", sans-serif;
}

// Font Sizing Mixin (http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/)
@mixin font-size ( $size: 16, $important: false ) {
    @if $important {
        font-size: $size + px !important;
        font-size: $size/16 + rem !important;
    }
    @else {
        font-size: $size + px;
        font-size: $size/16 + rem;
    }
}

body {
    @include sans-serif;
}

.copy-banner {
    background: $background-darkest;
    padding: 1px 10px; 
    display: block;
    padding: 1px 0;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    top: 0;
}
  
h1 {
    @include sans-serif;
    @include font-size(24, true);
    color: $core;
    font-weight: 300;
    line-height: 1.3;
    padding: 1px 0 6px;
    margin: .45em 0 .35em;
    letter-spacing: -1px;

    @include font-size(32, true);

    margin: .35em 0 .35em;
    color: $highlight;
    padding: 1px 0 6px;

    a {
    font-weight: 300;
    background: none;
    color: $text-link-alternate;

    &:hover, :active {
        background: none;
    }
    }
}

.container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

[role="banner"] {
    // Includes global navigation, logo, and tagline at top of document
    background: $accent-dark;
    overflow: hidden;
    margin: 0;
    padding: 10px 0 6px;
    position: relative;
    z-index: 0;
  
    .container {
      position: relative;
    }
  
    .meta {
      @include font-size(13);
      color: $attention;
      font-weight: 700;
      width: auto;
      float: left;
      margin: 8px 0 0 10px;
      display: none;
        /*width: 200px;
        display: block; */
  
  
    }
  
  
    .logo {
      @include font-size(40);
      @include sans-serif;
      color: $background-lightest;
      display: block;
      float: left;
      font-weight: 700;
      margin: 10px;
      overflow: hidden;
      text-decoration: none;
      text-indent: 100%;
      width: 170px;
      height: 36px;
      position: relative;
      svg {
        position: absolute;
        top: 1px;
        left: 1px
      }
    }
}